<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Exemple de template</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
	<h1>Exemple</h1>
        
        <a href='add'>Ajouter</a>

	<h2>{{message}}</h2>

	<table>
		<tr><th>Nom</th><th>Pays</th><th>Population</th>
		{{#categories}}
			<tr>
                            <td>{{nom}}</td>
                            <td>{{pays}}</td>
                            <td>{{population}}</td>
			</tr>
		{{/categories}}
	</table>
	
</body>

</html>